# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
*.egg-info/

# Jupyter Notebooks
notebooks/.ipynb_checkpoints/

# data
data/raw/MachineLearningRating_v3.txt
data/processed/clean_data.csv

!.dvc/   # Allow DVC metadata directory
.dvc/cache/

# IDEs
.vscode/
.idea/
