# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
*.egg-info/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebooks
notebooks/.ipynb_checkpoints/

!.dvc/   # Allow DVC metadata directory

# IDEs
.vscode/
.idea/
